<!-- Assignment of variables with arguments received -->
{{ $imagename := (.Get 0) }}
{{ $method := (.Get 1) }}
{{ $options := (.Get 2) }}

{{ if in $imagename "/" }}
  {{ $split := split $imagename "/" }}
  {{ .Scratch.Set "path" (first 1 $split)}}
  {{ .Scratch.Set "slug" (last 1 $split)}}

  {{ $path := (delimit (.Scratch.Get "path") " ") | string }}
  {{ $slug := (delimit (.Scratch.Get "slug") " ") | string }}

  {{ with .Site.GetPage "section" $path }}
    {{ $original := .Resources.GetByPrefix $slug }}
    {{ if eq $original nil }}
      <div class="alert alert-danger" role="alert">
        No existing file matching with {{$slug}} in {{$path}} folder
      </div>
    {{ end }}
    
    {{ if not (eq $original nil) }}
      {{ if eq $method "Fit" }}
        {{ .Scratch.Set "image" ($original.Fit $options)}}
      {{ else if eq $method "Resize"}}
        {{ .Scratch.Set "image" ($original.Resize $options) }}
      {{ else if eq $method "Fill"}}
        {{ .Scratch.Set "image" ($original.Fill $options) }}
      {{ else }}
        {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
      {{ end }}

      {{ $image := .Scratch.Get "image" }}
      <figure>
        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        <figcaption>
          {{$method}} "{{$options}}"
        </figcaption>
      </figure>
    {{ end }}

  {{ end }}

{{- else -}}
  {{ $imageResource := .Page.Parent.Resources.GetByPrefix $imagename }}
  {{ if eq $imageResource nil }}
    <div class="alert alert-danger" role="alert">
      No resources in the page bundle
    </div>
  {{ end }}

  {{ if not (eq $imageResource nil) }}
    {{ if eq $method "Fit" }}
      {{ .Scratch.Set "newimage" ($imageResource.Fit $options)}}
    {{ else if eq $method "Resize"}}
      {{ .Scratch.Set "newimage" ($imageResource.Resize $options) }}
    {{ else if eq $method "Fill"}}
      {{ .Scratch.Set "newimage" ($imageResource.Fill $options) }}
    {{ else }}
      {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}

    {{ $newimage := .Scratch.Get "newimage" }}
    <figure>
      <img src="{{ $newimage.RelPermalink }}" width="{{ $newimage.Width }}" height="{{ $newimage.Height }}">
      <figcaption>
        {{$method}} "{{$options}}"
      </figcaption>
    </figure>
  {{ end }}
{{end}}
